---
# 仅主 Sass 文件需要 front matter（只需保留虚线即可）
---

@import "minima";


/** 自定义样式 **/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.site-title, .site-title:visited {
    color: #2c3e50; /* 深色标题 */
    font-weight: bold;
}

.post-link {
    font-size: 20px;
}

/* 代码块背景微调 */
pre, code {
    border-radius: 4px;
}
